.DS_Store           # macOS 操作系统
Thumbs.db           # Windows 操作系统

node_modules/       # Node.js 依赖文件夹
npm-debug.log       # npm 错误日志

/dist/              # 构建输出目录
/build/             # 构建输出目录

.vscode/            # Visual Studio Code 设置文件夹
.idea/              # JetBrains 系列 IDE 设置文件夹
*.swp               # Vim 临时文件
*.sublime-workspace # Sublime Text 工作区文件
*.sublime-project   # Sublime Text 项目文件

*.log

.env                # 环境变量文件
*.env               # 环境文件

*.db
*.sqlite

.vscode/launch.json

HuaWeiRepositories/.vscode/launch.json